body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
}

header img {
    display: flex;
    height: 130px;
    width: 130px;
    transition: 2s;
}

header img:hover{
    transform: rotate(360deg);
}

.logo {
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav ul {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    left: 1500px;
}

nav ul li {
    display: inline;
    margin-left: 35px;
    font-size: 20px;
}

nav ul li :hover{
    color: #fc0000;
    font-size: 22px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: 0.6s;
}

.rosto {
    display: flex;
    height: 450px;
    width: 450px;
    position: absolute;
    left: 190px;
    top: 300px;
}

.sobremim {
    display: flex;
    height: 450px;
    width: 860px;
    position: absolute;
    left: 800px;
    top: 300px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 750px;
  }

  .gallery-item {
    margin: 10px;
  }
  
  .gallery-item img {
    width: 200px;
    height: 200px;
    object-fit: cover; 
    transition: 0.5s;
  }

  .gallery-item img:hover {
    width: 210px;
    height: 210px;
    object-fit: cover; 
  }